h1{
    font-size: 32px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;

}

h1:hover{
    color: rgb(0, 255, 13);
    background-color: red;
}
a{
    cursor: pointer;
    font-size: 60px;
    font-weight: 400;

}

a:focus{
    background-color: orange;
}

a:hover{
   background-color: red; 
}


a:active{
    background-color: black;
    color: red;
}